<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fable: {{genre}}</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>

    <aside class="profileHome create-login">
    <a href='/'><button type='button'>Home</button></a>
  </aside>

    <a href="/">
    <img class="logo-text" src="/images/fableText.png" alt=""></a>
    <h2>{{genre}}</h2>
    <div class="genreStories">
      <h4>Stories</h4>
          {{#each writers}}
            <p>Title: {{title}}, Author: {{username}}</p>
          {{/each}}
    </div>
    <!-- see all stories under one genre -->
    <div>
      <a href="/write">
        <button>Write a Story</button>
      </a>
    </div>
<script src='app.js'></script>
  </body>
</html>
