<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <aside class="create-login">
      <a href="/login"><button type="button" name="button">Create Account | Login</button></a>
      <span>{{currentUser.username}}</span>
    </aside>
    <main>
      <section class="splash">
        <img class="logo" src="images/fable.png" alt="">
        <p>A writing community created for sharpening the skills of storytellers.</p>
      </section>
      <hr>
      <section class="index-genres">
        <h4>Genres</h4>
        {{#each dataGenres}}
        <a href="/{{genre}}">
          <button>{{genre}}</button>
        </a>
        {{/each}}

      </section>
      <footer>
        <p>"Aliquam scelerisque sagittis sapien ut tincidunt. Cras et sem vel velit aliquam accumsan." - Unknown</p>
      </footer>
    </main>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
