<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>

    <h2>UserName</h2>
    <h4>My Stories</h4>
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>The Black Cat</td>
        <td>It was a foggy All Hollows Eve...</td>
        <td>Horror</td>
      </tr>
      <tr>
        <td>The Princess and the Frog</td>
        <td>Once upon a time...</td>
        <td>Fantasy</td>
      </tr>
</table>

<div>
  <button class='createBtn'><a href='write.hbs'>Write a New Story</a></button>
</div>

  </body>
</html>
