<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
    <a href="/">
    <img class="logo-text" src="images/fableText.png" alt=""></a>

    <!-- you wrote a story and your reading it -->

  </body>
</html>
