<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css'>
  </head>
  <body>
    <a href="/">
    <img class="logo-text" src="images/fableText.png" alt=""></a>

    <div class='storyHead'>
      <h2>{{title}}</h2>
      <p>Need some inspiration?</p>

        <form id='prompt'>
          <button type='submit'>Prompt Me</button>
        </form>
        <div class='promptDiv'>
          <p>{{prompt}}</p>
      </div>
    </div>

<div class='newStory'>

  <form method="post" action="/write/createStory">
    <label>Title</label>
    <input name="title" type="text">
    <label>Author</label>
    <input name="user_id" type="text">
    <label>Genre</label>
    <input name="genre_id" type="text">
    <label>Story</label>
    <input name="story" type="text">
    <button>Submit Story</button>
  </form>

</div>

<!-- <script src='index.js'></script> -->
 <script src='app.js'></script>
  </body>
</html>
