body {
  background: #c6c6c6;
  color: #25282a;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}

main {
  text-align: center;
  margin-top: 50px;
  padding: 0px 200px 0px 200px;
}

.create-login {
  float: right;
  flex-direction: row;
  margin-right: 20px;
  margin-top: -20px;
}

.profileHome button{
  margin-top: 20px;
}

.create-login button {
  background: #53765e;
  color: #c7c7c7;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.logo {
  width: 300px;
}

.logo-text {
  width: 200px;
  padding: 20px;
}

hr {
  border: solid 1px #53765e;
}

.index-genres {
  margin-top: 50px;
}

.index-genres button {
  background: #34473f;
  color: #c7c7c7;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

footer p {
  margin-top: 50px;
  font-size: 10pt;
  letter-spacing: normal;
  font-style: italic;
}

#createForm, #loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.create, .login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.createLogin {
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  background-color: #38453D;
  color: #E3E5DE;
  border: none;
  border-radius: 4px;
  margin: 4px;
}

input {
  border-radius: 2px;
  height: 20px;
  /*width: 600px;*/
}

label {
  margin-bottom: 5px;
  margin-top: 5px;
}

textarea {
  width: 600px;
  height: 280px;
}

.storyInput {
  border-radius: 2px;
  height: 20px;
  width: 600px;
}

#storyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;

}

.newStory {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-top: 20px;
}

.storyHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #E3E5DE;
}

button:hover {
  background-color: #5B735D;
}

.storyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.myStoryArea {

}

.storyLink {
  background-color: #252829;
  padding: 5px;
  border-radius: 5px;
}

.storyLink:hover {
  background-color: #476C5B;
}
